body {
  background-color: #0d0d0d;
  color: #f9f6f6 !important;
}

.loading-screen {
  display: flex;
  z-index: 1000;
}
.inner-loading-screen {
  display: flex;
  background-color: #0d0d0d;
  position: absolute;
  z-index: 10;
}

.logo {
  width: 50px;
}

.cursor-pointer {
  cursor: pointer;
}

.nav-tab {
  background-color: #0d0d0d;
}

.side-nav-menu {
  left: -328px;
  z-index: 999;
}

.meal-layer {
  width: 100%;
  height: 100%;
  background-color: #f9f6f6ca;
  top: 100%;
  transition: 0.5s;
}
.meal:hover .meal-layer {
  top: 0%;
}

.side-nav-menu {
  z-index: 999;
}
